/*2015/5/4 9:04 - Drake*/
#inner {
    background-color: #696968;
}

#innerItem {
    width: 980px;
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.metro-page-block {
    padding-left: 602px;
}

.metro-submit-text-block {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.metro-submit-text-attr-title {
    width: 130px;
}

.metro-submit-text-attr-input {
    width: 100%;
}

.metro-submit-text-area {
    height: 140px;
}

.metro-submit-text-btn-block {
    text-align: right;
}